// font-face declarations like this:

// @font-face 
  // font-display fallback
  // font-family "Maven Pro Regular"
  // src url(assets/fonts/MavenPro-Regular.ttf) format("truetype")
  // font-style normal
  // font-weight 400

