doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="main.css")

  body
    h1 Hello World!
    p Let's get started!

    script(type="text/javascript" src='main.js')
